@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* shounic color :3 */
    --color-bg: #304654;
    --color-light-bg: rgb(54, 79, 94);
    --color-dark-bg: #222d34;
    


    --color-menu-button-hover: #395a6e;
    --color-button-outline: #222d34;
    --color-standard-button: #7494ae;
    --color-standard-button-selected: #d0dce6;

    /*
    --color-link-hover:
    --color-link-active:
    --color-link-resting:
    */

    --color-text: #e9f1f5;
    --color-text-faded: #e9f1f5a6;
    --color-text-footer: #e9f1f575;
    --color-header: #e9f1f5;

    --color-dark-text: #222d34;

    /* overflow-y: scroll; */

    --min-double-wide-width: 500px;
}

/* for debug :3
* { 
    outline: 1px solid lime;
    outline-offset: -1px;
}
*/

path { fill: var(--color-dark-bg); }

a { color: var(--alt-hover-color); }
a:focus { color: var(--alt-hover-color); }
a:hover { color: var(--hover-color); }
a:active { color: var(--selected-color); }

body {
    background-color: var(--color-bg); 
    margin: 0;
    width: 100%;
    height: 100%;
    flex: 1;
    border: none;
    display: grid;
    grid-template-rows: 75px 1fr;
}

html {
    margin: 0;
    border: none;
    height: 100%;
    flex: 1;
}

p {
    padding: 0;
    margin: 0;
    color: var(--color-text);
    font-family: 'Afacad Flux';
}


.headerText {
    color: var(--color-text-faded);
    font-size: 20px;
}

.pageTitleText {
    font-size: 34px;
}

@media (max-width: 560px) {
    .pageTitleText {
        font-size: 28px;
    }
}

@media (max-width: 500px) {
    .pageTitleText {
        font-size: 24px;
    }
}


button {
    font-family: 'Afacad Flux';
    font-size: 22px;
    color: var(--color-text);
    border: none;

    transition: 0.15s;
}

iframe {
    border: none;
    transition: 0.15s;
}

form {
    height: 100%;
}


.headerWrapper {
    display: grid;
    grid-template-columns: 1fr minmax(0, 700px) 135px 135px 1fr;
    background-color: var(--color-dark-bg);
    overflow: hidden;
}

@media (max-width: 800px) {
    .headerWrapper {
        grid-template-columns: 1fr minmax(0, 700px) 100px 100px 1fr;
    }
}

@media (max-width: 650px) {
    .headerWrapper {
        grid-template-columns: 1fr minmax(0, 700px) 75px 75px 1fr;
    }
}

.pageTitle {
    margin-left: 20px; 
    margin-right: 10px;
    display: grid;
    align-content: center;
}

.contentWrapper {
    display: grid;
    grid-template-columns: 1fr minmax(0, 560px) 1fr;
    grid-template-rows: 1fr 55px max-content 55px max-content 55px 55px minmax(25px, min-content) 160px 1fr;
    row-gap: 25px;
    column-gap: 20px;

    grid-template-areas: 
        ". . ."
        ". head ."
        ". vid1 ."
        ". vot1 ."
        ". vid2 ."
        ". vot2 ."
        ". vsub ."
        ". errm ."
        ". guid ."
        ". . .";
}

@media (min-width: 950px) { 
    .contentWrapper {
        grid-template-columns: 1fr minmax(300px, 560px) minmax(300px, 560px) 1fr;
        grid-template-rows: 1fr 55px max-content 55px 55px 25px 160px 1fr;
        column-gap: 45px;
        grid-template-areas: 
        ". .    .    ."
        ". head head ."
        ". vid1 vid2 ."
        ". vot1 vot2 ."
        ". vsub vsub ."
        ". errm errm ."
        ". guid guid ."
        ". .    .    .";
    }
}


.leftPaddingBox {
    grid-area: lpad;
}

.rightPaddingBox {
    grid-area: rpad;
}

.topPaddingBox {
    grid-area: tpad;
}

.bottomPaddingBox {
    grid-area: bpad;
}


.contentHeader {
    grid-area: head;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    display: table-cell;
    transition: 0.5s;
}

.invis {
    opacity: 0;
}

.embedBox1 {
    grid-area: vid1;
}

.embedBox2 {
    grid-area: vid2;
}

.aspectRatioRespectingChad {
    display: grid;
    justify-content: center;
    align-content: center;
    aspect-ratio: 16/9;
    width: 100%;
    background-color: var(--color-light-bg);
    overflow: hidden;
}

.parentRespectingVideoEmbed {
    width: 100%;
    height: 100%;
}

.voteButtonBox1 {
    grid-area: vot1;
    display: grid;
    grid-template-columns: 1fr 170px 1fr;
    grid-template-areas: ". btn .";
}

.voteButtonBox1 > button {
    grid-area: btn;
}

.voteButtonBox2 {
    grid-area: vot2;
    display: grid;
    grid-template-columns: 1fr 170px 1fr;
    grid-template-areas: ". btn .";
}

.voteButtonBox2 > button {
    grid-area: btn;
}

.voteSubmitBox {
    grid-area: vsub;
    display: grid;
    grid-template-columns: 1fr 170px 1fr;
    grid-template-areas: ". btn .";
}

.voteSubmitBox > button {
    grid-area: btn;
}

.errorMessageBox {
    grid-area: errm;
    text-align: center;
    vertical-align: middle;
}

.guideBox {
    grid-area: guid;
    padding-left: 60px;

}

.guideBox > p {
    text-align: left;
    font-size: 18px;
}

.guideBox > ol {
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    color: var(--color-text);
    font-family: 'Afacad Flux';
}


@media (max-width: 950px) {
    .guideBox {
        padding-left: 0px;
        
    }

    .guideBox > p {
        text-align: center;
        font-size: 16px;
    }

    .guideBox > ol {
        text-align: center;
        font-size: 16px;
        list-style-position: inside;
    }
}

.menuButton {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
}

.menuButton:hover {
    background-color: var(--color-menu-button-hover);
    color: white;
}

.menuBtnIcon {
    display: none;
    font-size: 30px;
}

@media (max-width: 800px) {
    .menuBtnText {
        display: none;
    }

    .menuBtnIcon {
        display: initial;
    }
}

.standardButton {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: var(--color-dark-bg);
    margin: 0 calc(50% - 170px/2);
    border: 0px solid var(--color-dark-bg);
}

.standardButton:disabled {
    border: 2px solid var(--color-dark-bg);
    color: var(--color-dark-text);
    background-color: transparent;
}

.standardButton:hover:not([disabled]) {
    border: 2px solid var(--color-text);
}

.selectedButtonState {
    border: 2px solid var(--color-text);
    background-color: var(--color-text);
    color: var(--color-dark-text);
}

.selectedFrameState {
    box-shadow: 0px 2px 0px var(--color-text);
}

.hidden {
    display: none;
}