<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-Equiv="Cache-Control" Content="no-cache" />
    <meta http-Equiv="Pragma" Content="no-cache" />
    <meta http-Equiv="Expires" Content="0" />
    
    <title>Best Clips of 2024</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styling.css">
</head>
<body>
    <div class="menuBarWrapper">
        <div class="menuBarContent">
            <div><p>Shounic's Best Clips Of 2024</p></div>
            <div><p>Voting ends in xx:xx:xx</p></div>
            <button class="menuButton">About</button>
            <button class="menuButton">My Votes</button>
        </div>
    </div>

        <div class="mainContent">
            <div id="clipBox1">
            </div>
            <div id="clipBox2">
            </div>
            <div>
                <button class="standardButton" id="leftVoteButton">Vote</button>
            </div>
            <div>
                <button class="standardButton" id="rightVoteButton">Vote</button>
            </div>
            <div>
                <button class="standardButton">Submit Vote</button>
            </div>
        </div>


    <script>        
        // Add new iframes
        function addEmbeds() {
            const frame1 = document.createElement('iframe')
            frame1.id = "clip1"
            frame1.width = 500
            frame1.height = 315
            frame1.src = "https://www.youtube.com/embed/JgJUbmGDc6k"
            document.getElementById("clipBox1").appendChild(frame1)
    
           const frame2 = document.createElement('iframe')
            frame2.id = "clip2"
            frame2.width = 500
            frame2.height = 315
            frame2.src = "https://www.youtube.com/embed/ttArr90NvWo"
            document.getElementById("clipBox2").appendChild(frame2)
        };
    
       // Add iframes on page load
        window.onload = addEmbeds() 
    </script>
</body>
</html>
